*{
    margin: 0;
    padding: 0px;
    
}

.cabecalho{
    width:100%; 
    display:inline-flex;
    height: 136px;
    margin: 0px;
    background-color:rgb(255, 255, 255);
    background-image:none;
}
.logo{
    width:370px;
    height:136px;
}
.divlogo{
    max-width:40%;
    margin-left: 0px;
    width:370px;
    height:136;
}
.divcabecalho{
    height:136px;
    width: 100%;
    
}
.divtitulo{
    text-align: center;
    font-size: 30px; 
    margin-top: 20px;
    height: 66px;
    font-weight: bold;
    color: rgb(0, 35, 124);
    
}
.divnavbar{
    width: 100%;
    height:60px;
}

.sectionmain{
    padding: 0px;
    
}
.sectionfooter{
    background-image: none;
    padding: 20px;
    margin-top: 25px;
    background-color: rgb(0, 0, 0);
    color: white;
}

nav{
    height: 50px;
    width: 100%;
    position:relative;
    background-color: rgb(0, 0, 0);
    background-image:none;
   
}
nav ul {
    float: right;
    margin: right 10px;
    box-shadow: inset;
    margin-top: 2px;
    padding-top: 1px;
}

nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;  
}
nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding: 1px;
    padding-top: 8px;
    border-radius: 5px;
    text-decoration:none;
    display: block;
    height: 40px;
    padding-right: 7px;
    padding-left: 10px;
    background-image:none;
    
}
a.active , a:hover{
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-radius: 2px;
    color: rgb(0, 0, 0); 

}
ul ul{
    position: absolute;
    min-width: 200px;
    display: none;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    border-radius: 1px;
    background-image:none;
}
ul ul li{
    display: block;
    padding: 0px;
    margin: 0px;   
}
ul li:hover ul{
    display: block;
    position: absolute;
}
.apoiedrop{
    margin-left: -100px;
}


@media(max-width: 1050px){
    .cabecalho{
        width:100%; 
        display:inline-flex;
        height: 136px;
        margin: 0px;
        background-image:none;
        background-color: white;
    
    }
    .logo{
        width:250px;
        height:136px;
        display: none;
    }
    .divlogo{
        max-width:40%;
        margin-left: 0px;
        width:250px;
        height:136;
        display: none;
    }
    .divcabecalho{
        height:136px;
        width: 100%;
        
    }
    .divtitulo{
        text-align: center;
        font-size: 18px; 
        margin-top: 20px;
        height: 66px;
        font-weight: bold;
        
    }
    .divnavbar{
        width: 100%;
        height:60px;
    }
    .sectionmain{
        padding: 0px;  
        
    }
    .sectionfooter{
        background-image:none;
        padding: 20px;
        margin-top: 25px;
        font-size: 18px;
        background-color: rgb(0, 0, 0);
        color: white;
    }
    
    nav{
        height: 50px;
        width: 100%;
        position:relative;
        background-image: none;
        background-color: black;
       
    }
    
    nav ul{
        float: right;
        margin: right 10px;
        box-shadow: inset;
        margin-top: 2px;
        padding-top: 1px;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 20px;
        margin: 0 5px;  
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 18px;
        padding: 1px;
        padding-top: 8px;
        border-radius: 5px;
        text-decoration:none;
        display: block;
        height: 40px;
        padding-right: 7px;
        padding-left: 10px;  
    }
    a.active , a:hover{
        background-image: none;
        border-radius: 2px;
        color: #000000; 
    
    }
    ul ul{
        position: absolute;
        min-width: 200px;
        display: none;
        background-image: none;
        padding: 0px;
        margin: 0px;
        border-radius: 1px;
        z-index: 1;
    }
    ul ul li{
        display: block;
        padding: 0px;
        margin: 0px;   
    }
    ul li:hover ul{
        display: block;
        position: absolute;
    }
    .apoiedrop{
        margin-left: -100px;
    }
    
}
@media(max-width: 650px){
    .cabecalho{
        width:100%; 
        display:inline-flex;
        height: 80px;
        margin: 0px;
        background-color:rgb(255, 255, 255);

    }
    .logo{
        width:100px;
        height:80px;
    }
    .divlogo{
        max-width:40%;
        margin-left: 0px;
        width:100px;
        height:80px;
        display: none;
    }
    .divcabecalho{
        height:80px;
        width: 100%;
        
    }
    .divtitulo{
        text-align: center;
        font-size: 16px; 
        margin-top: 10px;
        height: 40px;
        font-weight: bold;
        
    }
    .divnavbar{
        width: 100%;
        height:30px;
    }
    .sectionmain{
        padding: 1px;
        
    }
    .sectionfooter{
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 20px;
        margin-top: 25px;
        font-size: 13px;
        
    }
    
    nav{
        height: 30px;
        width: 100%;
        position:relative;
        background-color: rgb(0, 0, 0);
        background-image:none;
       
    }
    
    nav ul{
        float: right;
        margin: right 10px;
        box-shadow: inset;
        margin-top: 1px;
        padding-top: 1px;
        background-image:none;
    }
    
    nav ul li{
        display: inline-block;
        line-height: 20px;
        margin: 0 5px;  
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding: 0px;
        padding-top: 0px;
        border-radius: 3px;
        text-decoration:none;
        display: block;
        height: 20px;
        padding-inline-end: 10px;
        padding-right: 1px;
        padding-left: 1px;
        background-image:none;
        
    }
    a.active , a:hover{
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        color: rgb(0, 0, 0); 
        background-image:none;
    
    }
    ul ul{
        position: absolute;
        min-width: 150px;
        display: none;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        margin: 0px;
        border-radius: 1px;
        z-index: 1;
        
        
    }
    ul ul li{
        display: block;
        padding: 0px;
        margin: 0px;   
    }
    ul li:hover ul{
        display: block;
        position: absolute;
    }
    .apoiedrop{
        margin-left: -80px;
    }
    
}